@use 'sass:map';

@import './vars';

html,
body {
  background: #000;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #eee;
  font-family: map.get($fonts, 'sans', 'font-family');
  padding: 9rem 0 0 0;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: auto;
  max-width: 100rem;
  position: relative;
  top: 3rem;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: map.get($fonts, 'serif', 'font-family');
  font-weight: 400;
  letter-spacing: 0.15rem;
  margin: 1.5rem auto;
  text-align: center;
}

.featured-series h2 {
  margin: 3rem auto 2rem auto;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-hover;
  text-decoration: underline;
}

a:active {
  color: $link-active;
}

p {
  font-weight: 500;
  margin: 0.5rem 1rem;
}

.page {
  p {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 60rem;
  }
}

header {
  background: #000;
  box-shadow: 0px 0.6rem 1.25rem 0.6rem rgba(0, 0, 0, 1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

header h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

nav {
  display: block;
  width: 100%;
}

footer {
  display: block;
  margin-top: 5rem;
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.full-image__image-container {
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: center;

  p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;

    svg {
      max-width: 3rem;
      max-height: 3rem;
    }

    a svg {
      fill: $link;
    }

    a:hover svg {
      fill: $link-hover;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    list-style: none;
    margin: 0 auto 2rem auto;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}

@media screen and (width <= 48rem) {
  main {
    top: -4.4rem;
    z-index: 10;
  }
  header > h1 {
    font-size: 1.5rem;
    font-size: 5vw;
    margin-top: 0.5rem;
  }
}
