<div class="featured-series">
  <h2>Featured Series</h2>
  <ul class="featured-series--list">
    {% for series in featured_series %}
    <li class="featured-series--list-item">
      <a href="series/{{ series.slug }}" class="featured-series--link">
        <img
          src="/media{{ series.cover_image.thumbnail_image }}"
          alt="{{ series.title }}"
          class="featured-series--image {{ series.cover_image.get_focal_point_class }}"
        />
        <span class="featured-series--title">{{ series.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
