<div class="image-grid">
  <ul class="image-grid--list">
    {% for image in images %}
      <li class="image-grid--list-item">
        {% if series %}
          <a href="/series/{{ image.series.slug }}" class="image-grid--link">
        {% else %}
            <a href="/series/{{ image.series.slug }}/image/{{ image.slug }}" class="image-grid--link">
        {% endif %}
          <img
            src="/media/{{ image.thumbnail_image.name }}"
            alt="{{ image.title }}"
            class="image-grid--image {{ image.get_focal_point_class }}"
          />
          <span class="image-grid--title">
            {% if series %}
              {{ image.series.title }}
            {% else %}
              {{ image.title }}
            {% endif %}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
