<div class="series-grid">
  <h2>{{ series.title }}</h2>
  <ul class="series-grid--list">
    {% for image in series_images %}
    <li class="series-grid--list-item">
      <a
        href="{{ series.slug }}/{{ image.slug }}"
        class="series-grid--link"
      >
        <img
          src="/media{{ image.thumbnail_image }}"
          alt="{{ image.title }}"
          class="series-grid--image"
        />
        <span class="series-grid--title">{{ image.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
