{% load static %} {% load partials %}

<div data-target="slideshow" class="slideshow">
  <ul data-target="slides" class="featured-images">
    {% for image in featured_images %}
    <li
      data-target="slide"
      class="featured-image"
    >
      <a
        href="/series/{{ image.series.slug }}/image/{{ image.slug }}"
        data-target="slideshow-image-link"
      >
        <img
          alt="{{ image.alt }}"
          class="{{ image.get_focal_point_class }}"
          data-src="/media/{{ image.image_file }}"
          data-target="lazy-image"
          src="/media/{{ image.low_quality_full_size_image_path}}"
        />
        <span class="image-title">
          {{ image.series.title }} &mdash; {{ image.title }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="slideshow-info">
    <button data-target="prev" class="prev">
      <span class="sr-only">Previous</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="mdi-chevron-left"
        width="128"
        height="128"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
        />
      </svg>
    </button>
    <div data-slideshow-play-pause class="play-pause">
      <button data-target="play" class="play">
        <span class="sr-only">Play</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-arrow-right-drop-circle-outline" width="128" height="128" viewBox="0 0 24 24" fill="currentColor"><path d="M2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12M4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12M10,17L15,12L10,7V17Z"/></svg>
          <path
            d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
          />
        </svg>
      </button>
      <button data-target="pause" class="pause">
        <span class="sr-only">Pause</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="128" height="128" viewBox="0 0 24 24" fill="currentColor">
          <path d="M13,16V8H15V16H13M9,16V8H11V16H9M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z"/>
        </svg>
      </button>
    </div>
    <button data-target="next" class="next">
      <span class="sr-only">Next</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="mdi-chevron-right"
        width="128"
        height="128"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
      </svg>
    </button>
  </div>
</div>
