.top {
  top: 0;
  bottom: auto;
  margin: 0 auto auto;
  left: 0;
  right: 0;

  &-center {
    top: 0;
    bottom: auto;
    margin: 0 auto auto;
    left: 0;
    right: 0;
  }

  &-left {
    top: 0;
    bottom: auto;
    margin: 0 auto auto;
    left: 0;
    right: auto;
  }

  &-right {
    top: 0;
    bottom: auto;
    margin: 0 auto auto;
    right: 0;
    left: auto;
  }
}

.center {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;

  &-left {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: auto;
  }
  &-right {
    top: 0;
    bottom: 0;
    margin: auto;
    left: auto;
    right: 0;
  }
}

.bottom {
  bottom: 0;
  top: auto;
  margin: auto auto 0 auto;
  left: 0;
  right: 0;

  &-center {
    bottom: 0;
    top: auto;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
  }

  &-left {
    bottom: 0;
    top: auto;
    margin: auto auto 0 auto;
    left: 0;
    right: auto;
  }
  &-right {
    bottom: 0;
    top: auto;
    margin: auto auto 0 auto;
    right: 0;
    left: auto;
  }
}
