.image-grid {
  width: 100%;
  .image-grid__list {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    max-width: 95vw;
    padding: 0;
    width: 100%;
  }

  .image-grid__list-item {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    height: 25%;
    list-style: none;
    margin: 0;
    max-height: 480px;
    max-width: 480px;
    overflow: hidden;
    padding: 0;
    width: 25%;
  }

  .image-grid__link {
    align-content: center;
    align-content: center;
    background: #161616;
    cursor: pointer;
    display: block;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    margin: 0;
    max-height: 480px;
    position: relative;
    width: 100%;
    z-index: 100;

    .image-grid__title {
      align-self: center;
      background: rgba(0, 0, 0, 0.55);
      backdrop-filter: blur(0.025rem);
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 1.25rem;
      font-weight: 400;
      height: 100%;
      justify-self: center;
      left: 0;
      letter-spacing: 0.05rem;
      line-height: 2;
      min-height: 2rem;
      opacity: 0;
      padding: 3rem 0.5rem 0.5rem 0.5rem;
      pointer-events: none;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.66);
      text-transform: uppercase;
      top: 0;
      transition:
        opacity 0.25s ease-in-out,
        backdrop-filter 0.5s ease-in-out;
      width: 100%;
      z-index: 5;
    }

    &:hover,
    &:focus {
      .image-grid__title {
        opacity: 1;
      }
    }
  }

  .image-grid__image {
    background-color: $background;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    width: auto;
  }
}

.loaded .image-grid__image {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

@media screen and (width <= 48rem) {
  .image-grid {
    .image-grid__list-item {
      height: 50%;
      max-height: 24rem;
      max-width: 24rem;
      width: 50%;
    }

    .image-grid__link {
      .image-grid__title {
        display: block;

        &:hover,
        &:focus {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
