.featured-series,
.series-grid {
  .featured-series--list,
  .series-grid--list {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    max-width: 90rem;
    padding: 0;
    width: 100%;
  }

  .featured-series--list-item,
  .series-grid--list-item {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    height: 25%;
    list-style: none;
    margin: 0;
    max-height: 480px;
    max-width: 480px;
    overflow: hidden;
    padding: 0;
    width: 25%;
  }

  .featured-series--link,
  .series-grid--link {
    align-content: center;
    align-content: center;
    background: #161616;
    cursor: pointer;
    display: block;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    margin: 0;
    max-height: 480px;
    position: relative;
    width: 100%;
    z-index: 100;

    .featured-series--title,
    .series-grid--title {
      align-self: center;
      background: rgba(0, 0, 0, 0.55);
      box-sizing: border-box;
      color: #fff;
      display: none;
      font-size: 1.25rem;
      font-weight: 700;
      height: 100%;
      justify-self: center;
      left: 0;
      letter-spacing: 0.05rem;
      line-height: 2;
      min-height: 2rem;
      padding: 2rem 0.5rem 0.5rem 0.5rem;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 5;
    }

    &:hover,
    &:focus {
      .featured-series--title,
      .series-grid--title {
        display: block;
      }
    }

  }

  .featured-series--image,
  .series-grid--image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    // max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;

    // min-width: 100%;
    // max-width: 100%;
    // min-width: 25vw;
    // min-height: 100%;
    // aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 650px) {
  .featured-series--list-item,
  .series-grid--list-item {
    width: 50%;
  }
}
