.featured-series,
.series-grid {
  &--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 90rem;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  &--list-item {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    height: 25%;
    list-style: none;
    margin: 0;
    max-width: 480px;
    max-height: 480px;
    overflow: hidden;
    padding: 0;
    width: 25%;
    aspect-ratio: 1 / 1;
  }

  &--series-link {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background: #161616;
    cursor: pointer;
    height: 100%;
    margin: 0;
    max-height: 480px;
    position: relative;
    width: 100%;
    z-index: 100;

    .featured-series--series-title,
    .series-grid--title {
      align-self: center;
      background: rgba(0, 0, 0, 0.55);
      box-sizing: border-box;
      color: #fff;
      display: none;
      height: 100%;
      font-size: 1.25rem;
      font-weight: 700;
      justify-self: center;
      left: 0;
      letter-spacing: 0.05rem;
      line-height: 2;
      min-height: 2rem;
      padding: 2rem 0.5rem 0.5rem 0.5rem;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 5;
    }

    &:hover,
    &:focus {
      .featured-series--series-title,
      .series-grid--title {
        display: block;
      }
    }

    .featured-series--series-image,
    .series-grid--image {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .featured-series--list-item,
  .series-grid--list-item {
    width: 50%;
  }
}
