.zoom {
  cursor: zoom-in;
  position: relative;

  &__large-image {
    aspect-ratio: 1/1;
    border: 1px solid $nav-border;
    border-radius: 100%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    display: block;
    height: auto;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.1s ease;
    width: 15rem;
    z-index: 99;
  }

  &.active {
    cursor: crosshair;

    .zoom__large-image {
      cursor: crosshair;
      opacity: 1;
    }
  }
}
