{% extends "base.html" %}
{% load static %}
{% block main_content %}
  <h2>About Tina Bell Vance</h2

  <p>In a former life I was a bit of a hellion. A former city dweller, now I'm just another woman living in the (sort of) country, waiting and  wanting to win the lottery.</p>

  <p>Still feel nineteen, I'm raising two human critters in Northeast Ohio along with my spouse. Obsessed with technology, making things, and trying to make the world a little bit better... or at least more tolerable.</p>

{% endblock %}

