{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="The artwork of Tina Bell Vance" />
    <meta name="author" content="Tina Bell Vance" />
    <meta
      name="keywords"
      content="photography, Tina Bell Vance, digital art, digital collage, nature photography, portfolio, gallery, fine art"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Tina Bell Vance</title>

    <meta property="og:site_name" content="Tina Bell Vance" />
    <meta property="og:title" content="Artwork" />
    <meta property="og:description" content="The artwork of Tina Bell Vance" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bellvance.com/" />
  </head>
  <body class="">
    <header role="header">
      <h1>Tina Bell Vance</h1>
      <nav class="navigation">
        <ul class="navigation--list">
          <li class="navigation--list-item">
            <a title="Home" href="/">Home</a>
          </li>
          <li class="navigation--list-item">
            <a title="Artwork" href="/artwork">Artwork</a>
          </li>
          <li class="navigation--list-item">
            <a title="About" href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>{% block main_content %}{% endblock %}</main>

    <footer role="footer">&copy; Tina Bell Vance</footer>
    {% block scripts %}
      <script src="{% static 'js/default.js' %}" type="module"></script>
    {% endblock %}
  </body>
</html>
