@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase|IM+Fell+Great+Primer+SC|Raleway:400,400i,500,500i,700,700i");
html,
body {
  background: #000;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #eee;
  font-family: "Raleway", sans-serif;
  padding: 9rem 0 0 0;
}

header,
main,
footer {
  opacity: 0;
}

.ready header,
.ready main,
.ready footer {
  opacity: 1;
  transition: opacity 1.5s ease;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Unicase", serif;
  text-align: center;
  margin: 0.5rem auto;
  letter-spacing: 0.1rem;
}

p {
  font-weight: 500;
  margin: 0.5rem 1rem;
}

header {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200000;
}

header > h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

nav {
  display: block;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  top: 10rem;
}

.navigation--list {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  justify-content: space-around;
  background: #000;
  box-sizing: border-box;
  line-height: 2;
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding: 0;
  width: 100%;
}

.navigation--list-item {
  display: inline-block;
  list-style: none;
  width: auto;
}
.navigation--list-item a {
  display: inline-block;
  width: auto;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation--list-item a:hover, .navigation--list-item a:active, .navigation--list-item a:focus {
  color: #eee;
}

.slideshow {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 90rem;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slideshow .featured-images {
  align-items: center;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0;
  position: relative;
  width: 100%;
}
.slideshow .featured-image {
  height: 100%;
  list-style: none;
  margin: 0;
  max-width: 100%;
  opacity: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  will-change: transform;
}
.slideshow .featured-image.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  visibility: visible;
}
.slideshow .featured-image img {
  max-width: 100%;
  position: absolute;
  width: 100%;
}
.slideshow .slideshow-play-overlay {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 10rem;
  opacity: 0;
  position: absolute;
  transition: background 0.5s ease-in-out;
  width: calc(100% - 20rem);
  z-index: 10;
}
.slideshow .slideshow-play-overlay:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  transition: background 0.5s ease-in-out;
}
.slideshow .slideshow-nav {
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  width: 8rem;
  z-index: 200;
}
.slideshow .slideshow-nav.prev {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  left: 0;
}
.slideshow .slideshow-nav.next {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  left: auto;
  right: 0;
}
.slideshow .slideshow-nav:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.slideshow .slideshow-nav button {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;
}
.slideshow button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.slideshow button.hidden {
  display: none;
}
.slideshow button svg {
  pointer-events: none;
}
.slideshow button path {
  fill: rgba(170, 170, 170, 0.75);
  stroke: rgba(51, 51, 51, 0.75);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linejoin: miter;
}
.slideshow button:hover path {
  fill: rgba(238, 238, 238, 0.65);
  stroke: rgba(17, 17, 17, 0.75);
}

@media screen and (max-width: 650px) {
  .slideshow {
    margin-bottom: 2rem;
    min-height: auto;
  }
  .slideshow .featured-image img {
    height: 100%;
    margin: -25% auto;
  }
}
.featured-series .featured-series--list,
.featured-series .series-grid--list,
.series-grid .featured-series--list,
.series-grid .series-grid--list {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0;
  width: 100%;
}
.featured-series .featured-series--list-item,
.featured-series .series-grid--list-item,
.series-grid .featured-series--list-item,
.series-grid .series-grid--list-item {
  aspect-ratio: 1/1;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  height: 25%;
  list-style: none;
  margin: 0;
  max-height: 480px;
  max-width: 480px;
  overflow: hidden;
  padding: 0;
  width: 25%;
}
.featured-series .featured-series--link,
.featured-series .series-grid--link,
.series-grid .featured-series--link,
.series-grid .series-grid--link {
  align-content: center;
  align-content: center;
  background: #161616;
  cursor: pointer;
  display: block;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  margin: 0;
  max-height: 480px;
  position: relative;
  width: 100%;
  z-index: 100;
}
.featured-series .featured-series--link .featured-series--title,
.featured-series .featured-series--link .series-grid--title,
.featured-series .series-grid--link .featured-series--title,
.featured-series .series-grid--link .series-grid--title,
.series-grid .featured-series--link .featured-series--title,
.series-grid .featured-series--link .series-grid--title,
.series-grid .series-grid--link .featured-series--title,
.series-grid .series-grid--link .series-grid--title {
  align-self: center;
  background: rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 1.25rem;
  font-weight: 700;
  height: 100%;
  justify-self: center;
  left: 0;
  letter-spacing: 0.05rem;
  line-height: 2;
  min-height: 2rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 5;
}
.featured-series .featured-series--link:hover .featured-series--title,
.featured-series .featured-series--link:hover .series-grid--title, .featured-series .featured-series--link:focus .featured-series--title,
.featured-series .featured-series--link:focus .series-grid--title,
.featured-series .series-grid--link:hover .featured-series--title,
.featured-series .series-grid--link:hover .series-grid--title,
.featured-series .series-grid--link:focus .featured-series--title,
.featured-series .series-grid--link:focus .series-grid--title,
.series-grid .featured-series--link:hover .featured-series--title,
.series-grid .featured-series--link:hover .series-grid--title,
.series-grid .featured-series--link:focus .featured-series--title,
.series-grid .featured-series--link:focus .series-grid--title,
.series-grid .series-grid--link:hover .featured-series--title,
.series-grid .series-grid--link:hover .series-grid--title,
.series-grid .series-grid--link:focus .featured-series--title,
.series-grid .series-grid--link:focus .series-grid--title {
  display: block;
}
.featured-series .featured-series--image,
.featured-series .series-grid--image,
.series-grid .featured-series--image,
.series-grid .series-grid--image {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
}

@media screen and (max-width: 650px) {
  .featured-series--list-item,
  .series-grid--list-item {
    width: 50%;
  }
}
.top {
  top: 0;
  bottom: auto;
  margin: 0 auto auto;
  left: 0;
  right: 0;
}
.top-left {
  top: 0;
  bottom: auto;
  margin: 0 auto auto;
  left: 0;
  right: auto;
}
.top-right {
  top: 0;
  bottom: auto;
  margin: 0 auto auto;
  right: 0;
  left: auto;
}

.center {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: auto;
}

.right {
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 0;
}

.bottom {
  bottom: 0;
  top: auto;
  margin: auto auto 0 auto;
  left: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  top: auto;
  margin: auto auto 0 auto;
  left: 0;
  right: auto;
}
.bottom-right {
  bottom: 0;
  top: auto;
  margin: auto auto 0 auto;
  right: 0;
  left: auto;
}

/*# sourceMappingURL=style.css.map */
